
input {
    display: block;
    box-sizing: border-box;
    font-size: .9em;
    background: hsl(var(--c2)/.5);
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    outline: none;
    color: hsl(var(--c4));
    width: 100%;
    transition: box-shadow .2s;
}

input:focus {
    box-shadow: hsl(var(--c4)/.125) 1.5px 1.5px 3px;
}

input[type="button"],
input[type="submit"] {
    background: transparent;
    border: 1px solid hsl(var(--c2)/.25);
    text-transform: uppercase;
    transition: .2s;
    cursor: pointer;
}

input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    background: hsl(var(--c2));
    border-color: hsl(var(--c2));
    text-transform: uppercase;
    color: white;
}

input:not(:last-of-type) {
    margin-bottom: 5px;
}

input#submit.error {
    background: hsl(0deg 50% 50% / 60%);
    border: hsl(0deg 50% 50% / 60%);
    color: white;
}

input#submit.success {
    background: hsl(160deg 50% 50% / 60%);
    border: hsl(160deg 50% 50% / 60%);
    color: black;
}

input#submit.loading {
    background: hsl(0deg 0% 50% / 58%);
    border: hsl(0deg 0% 50% / 58%);
    color: black;
}