.popup {
    min-height: 250px;
    min-width: 300px;
    max-width: 80%;
    max-height: 80%;
    overflow: hidden;
    background: linear-gradient(0deg, hsl(var(--c5)/.5), hsl(var(--c5)/.5)), linear-gradient(0deg, hsl(var(--c6)), hsl(var(--c6)));
    box-shadow: 6px 6px 6px 0 hsl(var(--c3) /.5);
    display: grid;
    border-radius: 4px;
    grid-template-rows: 1fr 45px;
    grid-template-columns: 1fr;
}

#popupContainer:not(:empty) {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: hsl(var(--c5)/.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.popupActions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
}

.popupActions button {
    background: transparent;
    padding: 7px 20px;
    border: 0;
    border-radius: 4px;
    transition: background .2s, box-shadow .2s, color .2s;
    margin: 5px;
    cursor: pointer;
    color: hsl(var(--c4));
    text-transform: uppercase;
}

.popupActions button:focus, .popupActions button:hover {
    background: hsl(var(--c5)/.25);
    box-shadow: 2px 2px 6px 0 hsl(var(--c3));
}

.popupActions button.suggestedAction {
    background: hsl(var(--c4));
    color: hsl(var(--c5));
}

.popupActions button.suggestedAction:hover, .popupActions button.suggestedAction:focus {
    background: hsl(var(--c1));
    color: hsl(var(--c4));
}

.popupContent {
    padding: 30px;
    color: hsl(var(--c4));
    word-break: break-word;
    overflow: auto;
}

.popup td:first-child {
    padding: 10px 0;
}

.popup td:first-child {
    width: 150px;
}

.popup table {
    border-collapse: collapse;
}

.popup tr:not(:last-child) {
    border-bottom: 1px solid hsl(var(--c4)/.25);
}

.popup td.messageInformation_encryptionType[data-value="RSA-AES_CBC"]:after {
    content: "lock";
    font-family: 'materialIcons';
    padding: 8px;
    font-size: 24px;
    vertical-align: bottom;
    color: hsl(133deg 50% 50% / 85%);
}

.popup td.messageInformation_verified[data-value="false"]:after {
    content: "warning";
    font-family: 'materialIcons';
    padding: 8px;
    font-size: 24px;
    vertical-align: bottom;
    color: hsl(0deg 50% 52%);
}

.popup td.messageInformation_chat_id:not([data-value="chat_id"]) {
    font-family: monospace;
}

@media (max-width: 630px) {
    td {
        display:block;
        padding: 10px 20px !important;
        box-sizing: border-box;
    }

    td:first-child {
        width: 100% !important;
        border-radius: 2px;
        font-weight: 500;
        background: hsl(var(--c5));
    }

    .popup tr:not(:last-child) {
        border-bottom: 15px solid transparent;
    }
}


.popup .popupTitle {
    font-size: larger;
    text-transform: capitalize;
}
.popup .popupTitle{
    border-bottom: .5em solid hsl(var(--c6));
    padding:5px 0;
    width:100%
}
.popup button.material-icons{
    background:transparent;
    border:0;
    color:hsl(var(--c4));
    display: inline-flex;
}

.popup span {
    display: inline-flex;
}

.settingsEntry{
    display:flex;
    margin: 10px 0;
}
.settingsEntry span {
    place-self: center;
    width: 50%;
}