@import "toast.css";
@import "contextmenu.css";
@import "popup.css";

:root {
    --h: 168deg;
    --c1: var(--h) 25% 48%;
    --c2: calc(var(--h) + 1deg) 25% 29%;
    --c3: calc(var(--h) - 7deg) 15% 5%;
    --c4: calc(var(--h) - 9deg) 50% 100%;
    --c5: calc(var(--h) - 9deg) 10% 10%;
    --c6: calc(var(--h) - 9deg) 5% 25%;
}

:root.light {
    --c1: var(--h) 30% 70%;
    --c2: calc(var(--h) + 1deg) 20% 75%;
    --c3: calc(var(--h) - 7deg) 5% 45%;
    --c4: calc(var(--h) - 9deg) 20% 10%;
    --c5: calc(var(--h) - 9deg) 5% 95%;
    --c6: calc(var(--h) - 9deg) 0% 85%;
}

body {
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
}

@font-face {
    font-family: materialIcons;
    src: url(resources/MaterialIcons-Regular.ttf);
}

@font-face {
    font-family: poppins;
    src: url(resources/poppins/Poppins-Regular.ttf);
}


/*open sans*/
@font-face {
    font-family: openSans;
    font-style: normal;
    font-weight: 300;
    src: url(resources/openSans/OpenSans-Light.ttf);
}

@font-face {
    font-family: openSans;
    font-style: normal;
    font-weight: 400;
    src: url(resources/openSans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: openSans;
    font-style: normal;
    font-weight: 500;
    src: url(resources/openSans/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: openSans;
    font-style: normal;
    font-weight: 600;
    src: url(resources/openSans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: openSans;
    font-style: normal;
    font-weight: 700;
    src: url(resources/openSans/OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: openSans;
    font-style: italic;
    font-weight: 300;
    src: url(resources/openSans/OpenSans-LightItalic.ttf);
}

@font-face {
    font-family: openSans;
    font-style: italic;
    font-weight: 400;
    src: url(resources/openSans/OpenSans-Italic.ttf);
}

@font-face {
    font-family: openSans;
    font-style: italic;
    font-weight: 500;
    src: url(resources/openSans/OpenSans-SemiBoldItalic.ttf);
}

@font-face {
    font-family: openSans;
    font-style: italic;
    font-weight: 600;
    src: url(resources/openSans/OpenSans-BoldItalic.ttf);
}

@font-face {
    font-family: openSans;
    font-style: italic;
    font-weight: 700;
    src: url(resources/openSans/OpenSans-ExtraBoldItalic.ttf);
}


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-weight: normal;
}

p,
span,
div,
button,
input {
    font-family: openSans;
}

a {
    color: hsl(var(--c2));
}

*:focus {
    outline: none;
}

body {
    background-color: hsl(var(--c5));
}

nav {
    -webkit-app-region: drag;
    height: 20px;
    background: hsl(var(--c6)/0.5);
    user-select: none;
    display: flex;
    justify-content: flex-end;
}

nav button {
    -webkit-app-region: no-drag;
    background: none;
    border: none;
    color: hsl(var(--c4));
    align-self: center;
    padding: 5px;
    font-size: 0.9em !important;
    font-weight: bolder ! important;
    z-index: 500;
    display: flex !important;
    align-items: center;
    height:inherit;
}

nav button:hover {
    background: hsl(var(--c6));
}

nav button#closeWindow:hover {
    background: hsl(var(--c1));
}
