/*giraffe implementation*/

main:not([data-state="main"]):not(.noGiraffe)::before {
    content: "";
    height: 200px;
    width: 200px;
    position: absolute;
    background-color: hsla(var(--accent));
    -webkit-mask-image: url(giraffe.svg);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(giraffe.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    z-index: -5;
    transition: transform var(--transitionduration), clip-path var(--transitionduration), -webkit-clip-path var(--transitionduration);
    left: 50%;
    top: 50%;
    transform: translate(-70%, -110%);
    -webkit-clip-path: polygon(0% 10%, 100% 10%, 100% 0%, 0% 0%);
    clip-path: polygon(0% 10%, 100% 10%, 100% 0%, 0% 0%);

}

/*
#login::before,
#signup::before {
    content: "";
    height: 100vh;
    width: 50vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: hsla(var(--accent));
    -webkit-mask-image: url(monkey.svg);
    -webkit-mask-size: contain;
    -webkit-mask-position: top right;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(monkey.svg);
    mask-size: contain;
    mask-position: top right;
    mask-repeat: no-repeat;
    transition: transform var(--transitionduration);
    z-index: -5;
}
*/

main:focus-within #login::before,
main:active #login::before,
main:focus-within #signup::before,
main:active #signup::before {
    transform: rotate(-45deg);
    transform-origin: top right;
}

main:focus-within::before,
main:active::before {
    transform: translate(-70%, -180%) !important;
    -webkit-clip-path: polygon(0% 80%, 100% 80%, 100% 0%, 0% 0%) !important;
    clip-path: polygon(0% 80%, 100% 80%, 100% 0%, 0% 0%) !important;
}

main > div {
    background: hsla(var(--background), 85%);
}

div#contactName:empty + div#messages:empty {
    border-bottom: 1px solid;
}
@keyframes changeGiraffe{
    0%{
        -webkit-mask-image: url(giraffe_searchUsers.svg);    
        mask-image: url(giraffe_searchUsers.svg);
    }
    100%{
        -webkit-mask-image: url(giraffe_verifyUsers.svg);    
        mask-image: url(giraffe_verifyUsers.svg);
    }
}

div#contactName:empty + div#messages:empty::before {
    content: "";
    height: 300px;
    width: 300px;
    background: hsla(var(--accent));

    -webkit-mask-image: url(giraffe_searchUsers.svg);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    mask-image: url(giraffe_searchUsers.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    animation-name: changeGiraffe;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0, 20, 1, -20);
}

div#contactName:empty + div#messages:empty::after {
    content: "drawing by Cyrill Spring" !important;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, calc(-50% + 160px));
    transition: opacity var(--transitionduration);
}

div#contactName:empty + div#messages:empty:hover::after {
    opacity: 1;
}

div#contactName:empty + div#messages:empty ~ input#messageContent {
    display: none;
}



/*scrollbar*/
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent
}

::-webkit-scrollbar-thumb {
    background: hsla(var(--accent), 100%);
}

/*general*/
:root {
    --border-radius: 5px;
    --transitionduration: 300ms;
    --desktopUsernavWidth: 200px;
    --generalPadding: 55px;
}

* {
    font-family: 'Fira Code', monospace;
    box-sizing: border-box;

}

/*body*/
body {
    --background: 0deg, 0%, 100%;
    --accent: 0deg, 0%, 0%;
    transition: --background var(--transitionduration), --accent var(--transitionduration);
    background-color: hsla(var(--background), 100%);
    color: hsla(var(--accent), 100%);
    margin: 0;
    padding: 5px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: var(--background-image);
}

@media (prefers-color-scheme: dark) {
    body {
        --background: 0deg, 0%, 0%;
        --accent: 0deg, 0%, 70%;
    }
}

hr {
    border: none;
    border-bottom: 1px solid hsla(var(--accent));
}

/*containers*/

main,
main .container:not(.filling) {
    padding: var(--generalPadding);
}


main .container:not(.filling) {
    box-shadow: 5px 5px 12px 0px hsla(var(--accent), 16%);
    border: 1px solid;
}

.container.fullsize {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
}

.container.filling {
    height: 100%;
    width: 100%;
}

.container.centered {
    display: grid;
    place-items: center;
}

.popup.container,
#settingsContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: hsla(var(--background), 90%);
}

#settingsContainer {
    padding: 20px;
}

.popup.container p,
#settingsContainer p {
    white-space: pre-wrap;
    border: 1px solid;
    padding: 43px;
    background: hsla(var(--background), 100);
}

.popup.container.serverResponse p::before {
    content: "server response";
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.popup .container,
#settingsContainer .container {
    margin: 5px;
}

main:not(.settingsOpen) #settingsContainer {
    display: none;
}

/*input*/
input:not([type="checkbox"]):not([type="radio"]),
textarea {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    outline: none;
    background: transparent;
    border: 1px solid;
    color: color:hsla(var(--accent), 100%);
    padding: 10px;
    transition: all var(--transitionduration);
    resize: none;
    height: 3em;
}

textarea#messageContent {
    width: calc(100% - 2 * 40px - 5px);
    display: inline-block;
}

div#attach,
div#send {
    height: 40px;
    width: 40px;
    background: hsla(var(--accent));
    position: absolute;
    right: 0;
    bottom: 0;
    transition: background var(--transitionduration);
    cursor: pointer
}

div#attach:hover,
div#send:hover {
    background: hsla(var(--accent), 80%);
}

div#send {
    -webkit-mask: url(send.svg);
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    transform: translateY(100%);
}

textarea#messageContent[disabled],
div#send[disabled],
div#attach[disabled] {
    display: none;
}

div#attach {
    -webkit-mask: url(attach.svg);
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    transform: translate(-100%, 100%);
}


input[type="submit"],
input[type="button"] {
    cursor: pointer;
    background: hsla(var(--background), 100%);
}

input[type="submit"].inverse,
input[type="button"].inverse {
    border: 1px solid hsla(var(--accent), 100%);
    color: hsla(var(--background), 100%);
    background: hsla(var(--accent), 100%);
}


input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="button"]:active {
    background: hsla(var(--accent), 100%);
    color: hsla(var(--background), 100%);
    border-color: hsla(var(--accent), 100%);

}

input[type="submit"].inverse:hover,
input[type="submit"].inverse:active,
input[type="submit"].inverse:focus,
input[type="button"].inverse:hover,
input[type="button"].inverse:focus,
input[type="button"].inverse:active {
    background: hsla(var(--background), 100%);
    color: hsla(var(--accent), 100%);
    border-color: hsla(var(--background), 100%);
    filter: brightness(1.2);
}

input[disabled] {
    background: hsla(var(--accent), 100%);
    color: hsla(var(--background), 100%);
    opacity: 0.5;
    cursor: auto;
}

/*typography*/
a {
    color: hsla(var(--accent), 100%);
    transition: all var(--transitionduration);
    outline: 0;
    position: relative;
    z-index: 1;
    text-decoration: none;
}

.message a {
    color: hsla(var(--background), 100%);
}

a::after {
    border-bottom: 1px solid hsla(var(--accent), 100%);
    content: "";
    position: absolute;
    left: -3px;
    right: -3px;
    bottom: 0;
    height: 0;
    background: hsla(var(--accent), 100%);
    z-index: -1;
    transition: height var(--transitionduration);
}

.message a::after {
    border-bottom-color: hsla(var(--background), 100%);
    background: hsla(var(--background), 100%);
}

a:hover,
a:active,
a:focus {
    color: hsla(var(--background), 100%);
}

.message a:hover,
.message a:active,
.message a:focus {
    color: hsla(var(--accent), 100%);
}

a:hover::after,
a:active::after,
a:focus::after {
    height: 100%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: lighter;
}

::placeholder {
    color: hsla(var(--accent), 50%);
}

/*specifics*/
div#newMessageIndicator.visible {
    bottom: 5px;
    transform: translateY(0px);
    clip-path: polygon(0% calc(100% + 5px), 100% calc(100% + 5px), 100% 0%, 0% 0%) !important;
}

div#newMessageIndicator {
    cursor: pointer;
    z-index: 5;
    position: absolute;
    bottom: 5px;
    left: 5px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    display: grid;
    place-items: center;
    user-select: none;

    background: hsla(var(--accent));
    color: hsla(var(--background));
    border: 1px solid hsla(var(--background));

    transition: transform var(--transitionduration), clip-path var(--transitionduration);
    transform: translateY(calc(100% + 5px));
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%) !important;
}

.backgroundLog {
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99999;
    word-break: break-all;
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
    flex-flow: wrap-reverse;
    display: flex;
    filter: opacity(0.8);
}

input#logoutButton {
    position: absolute;
    top: 0;
    right: 50px;
    width: auto;
    margin: 10px;

    -moz-border-radius: var(--border-radius);
    border-radius: var(--border-radius);
}

div.contactName {
    position: absolute;
    width: 100%;
    transform: translateY(-100%);
    border: 0;
    font-size: 1.5em;
    padding: 0;
    border-bottom: 1px solid;
    cursor: pointer;
}

div.contactName:not(:empty):after {
    content: "click to deselect";
    font-size: 0.5em;
    margin-left: 5px;
    font-weight: bolder;
}

input[name=contactSearch] {
    position: absolute !important;
    transform: translateY(-100%) !important;
    border: 0 !important;
    border-bottom: 1px solid !important;
    font-size: 1em !important;
}

div#settingsButton {
    position: absolute;
    background: hsla(var(--accent), 100%);
    width: 25px;
    height: 25px;
    top: 10px;
    left: 10px;
    -webkit-mask-image: url(settings.svg);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-image: url(settings.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center center;
    transition: transform var(--transitionduration);
}

div#settingsButton:hover {
    transform: rotate(calc(360deg / 6));
}

/*contextmenu*/
.contextmenu {
    position: absolute;
    left: calc(var(--x) * 1px);
    top: calc(var(--y) * 1px);
    background: hsla(var(--background), 100%);
    border: 1px solid hsla(var(--background), 100%);
    margin: 0;
    z-index: 999;
    display: grid;
}

.contextmenu div {
    border: 1px solid hsla(var(--accent));
    padding: 5px;
    transition: background 0.3s, color 0.3s;
}

.contextmenu.right {
    left: auto;
    right: calc(var(--x) * 1px);
    top: calc(var(--y) * 1px);
}

.contextmenu div:not(:first-of-type) {
    border-top: 0;
}

.contextmenu div:hover,
.contextmenu div.info {
    background: hsla(var(--accent), 100%);
    color: hsla(var(--background), 100%);
}

.contextmenu > div:not(.info) {
    cursor: pointer;
}

/*messages*/
.message {
    align-items: center;
    display: grid;
    color: hsla(var(--background), 100%);
    background: hsla(var(--accent), 100%);
    width: auto;
    min-width: min(150px, 50%);
    width: fit-content;
    margin: 5px;
    padding: 5px;
    border-radius: 2px;
    position: relative;
    height: fit-content;
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 80%;
    padding-right: calc(5px + 1.5ch);
    box-shadow: 1px 1px 9px 0px hsla(var(--accent), 41%);
}

/*
.message:not([data-verified='true']) {
    filter: invert(1);
}
*/

.message:not([data-verified='true'])::after {
    content: "this message could come from a different origin.";
    position: absolute;
    top: 0;
    right: 0;
    color: hsla(var(--accent));
    transform: translateX(-100%);
    /*    opacity: 0;*/
    transition: opacity var(--transitionduration);
}

/*

.message:not([data-verified='true'])::after {
    opacity: 1;
}

.message:not([data-verified='true']) span {
    filter: opacity(0);
    transition: filter var(--transitionduration);
}
*/

.message:not([data-verified='true']):hover span {
    filter: opacity(1);
}

.recieved .message:not([data-verified='true'])::after {
    transform: translateX(100%);
}

#messages .sent > .message {
    border-top-right-radius: 0px;
    justify-self: end;
    margin-right: 15px;
}

#messages .recieved > .message {
    border-top-right-radius: 0px;
    justify-self: baseline;
    margin-left: 15px;
}


#messages .recieved > .message::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    transform: translateX(-100%);
    border: 5px solid transparent;
    border-top: 5px solid hsla(var(--accent), 100%);
    border-right: 5px solid hsla(var(--accent), 100%);
}

#messages .sent > .message::before {
    content: "";
    top: 0;
    right: 0;
    position: absolute;
    transform: translateX(100%);
    border: 5px solid transparent;
    border-top: 5px solid hsla(var(--accent), 100%);
    border-left: 5px solid hsla(var(--accent), 100%);
}

div.message code,
div.quotingMessage code {
    background: hsla(var(--background), 0.3);
    border: 1px solid hsla(var(--background), 0.3);
    padding: 3px;
    border-radius: 5px;
    line-height: 2em;
}

div.message > span {
    padding: 3px;
    white-space: pre-line;
}

div#messages > div {
    display: grid;
    place-items: center;
}

main > div.main {
    width: inherit;
    height: calc(var(--vh, 1vh) * 80);
    position: relative;
}


div#messages {
    grid-template-rows: auto;
    grid-gap: 5px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
    scrollbar-color: hsla(var(--accent), 100%) transparent;
    scrollbar-width: thin;
    scrollbar-height: thin;
    scroll-behavior: smooth;
}

.quote {
    background: hsla(var(--background));
    padding: 5px;
    color: hsla(var(--accent));
    font-style: oblique;
    border-radius: 5px
}

.quote::before {
    content: attr(data-username) ": “";
}

.quote::after {
    content: "”";
}

div#quotedMessage.quotingMessage {
    position: absolute;
    background: hsla(var(--accent));
    height: calc(1em + 10px * 2 + 1px * 2);
    border: 1px solid transparent;
    width: 5em;
    box-sizing: content-box;
    color: hsla(var(--background));
    white-space: nowrap;
    overflow: hidden;
    display: grid;
    place-items: center;
}

div#quotedMessage.quotingMessage ~ textarea {
    padding-left: calc(5em + 21px * 2);
}

.quotingMessage > span {
    display: grid;
}

div#messages.loadingOlder::after {
    content: "loading older messages...";
    text-align: center;
}

div#messages.noOlder::after {
    content: "there are no older messages";
    text-align: center;
}

#messages div.deleting.sent > .message {
    transform: translateX(150%);
    padding: 0;
    font-size: 0;
    word-break: break-all;
}

#messages div.deleting.sent {
    overflow: hidden;
}

#messages div.sent > .message {
    transition: transform var(--transitionduration), padding var(--transitionduration), font-size var(--transitionduration);
}

#messages div {
    transition: background-color var(--transitionduration);
}

#messages .message {
    min-height: 1em;
    display: block;
    padding-bottom: calc(5px + 1em);
}

#messages div.goTo {
    background: hsla(var(--accent), 40%);
}

.message::after {
    content: attr(data-timestamp-day) "."attr(data-timestamp-month) "."attr(data-timestamp-year-short) " "attr(data-timestamp-hours) ":"attr(data-timestamp-minutes);
    line-height: 1em;
    padding: 5px;
}

.message {}

.message:after {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.8em;
}

.message.file::after {
    content: attr(data-file-size-unencrypted) " ("attr(data-file-size-encrypted) ")";
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.message.file {
    padding-bottom: calc(1em + 2 * 5px) !important;
}

.message .fileContainer {
    padding: 20px;
    padding-left: 50px;
    background: hsla(var(--background), 20%);
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid;
    position: relative;
}

.fileContainer.hasThumbnail {
    padding-left: 20px;
    padding-right: 100px;
    padding-top: 100px;
}

.thumbnailContainer {
    width: 100%;
    background-size: cover;
    height: 90px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
}

.message .fileContainer:not(.hasThumbnail)::before {
    content: "";
    display: block;
    height: 100%;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background: hsla(var(--background));
    -webkit-mask-image: url(fileIcons/file.svg);
    -webkit-mask-position: center;
    -webkit-mask-size: 40%;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(file.svg);
    mask-position: center;
    mask-size: 40%;
    mask-repeat: no-repeat;
}


/* file icons */
/* application */
.message .fileContainer[data-file-mime-type="application/vnd.apple.installer+xml"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/vnd.microsoft.portable-executable"]:not(.hasThumbnail)::before {
    --icon: url(fileIcons/application.svg);
    -webkit-mask-image: var(--icon);
    mask-image: var(--icon);
}

/* audio */
.message .fileContainer[data-file-mime-type="audio/aac"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="audio/midi"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="audio/x-midi"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="audio/mpeg"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="audio/ogg"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="audio/opus"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="audio/wav"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="audio/webm"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="audio/3gpp"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="audio/3gpp2"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/ogg"]:not(.hasThumbnail)::before {
    --icon: url(fileIcons/audio.svg);
    -webkit-mask-image: var(--icon);
    mask-image: var(--icon);
}

/* calendar */
.message .fileContainer[data-file-mime-type="text/calendar"]:not(.hasThumbnail)::before {
    --icon: url(fileIcons/calendar.svg);
    -webkit-mask-image: var(--icon);
    mask-image: var(--icon);
}

/* code */
.message .fileContainer[data-file-mime-type="application/x-csh"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="text/css"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="text/html"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/java-archive"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="text/javascript,"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/json"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/ld+json"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="text/javascript"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/x-httpd-php"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/x-sh"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/x-shockwave-flash"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/xhtml+xml"]:not(.hasThumbnail)::before {
    --icon: url(fileIcons/code.svg);
    -webkit-mask-image: var(--icon);
    mask-image: var(--icon);
}

/* document */
.message .fileContainer[data-file-mime-type="application/x-abiword"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/msword"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/vnd.openxmlformats-officedocument.wordprocessingml.document"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/vnd.oasis.opendocument.text"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/rtf"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="text/plain"]:not(.hasThumbnail)::before {
    --icon: url(fileIcons/document.svg);
    -webkit-mask-image: var(--icon);
    mask-image: var(--icon);
}

/* font */
.message .fileContainer[data-file-mime-type="application/vnd.ms-fontobject"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="font/otf"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="font/ttf"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="font/woff"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="font/woff2"]:not(.hasThumbnail)::before {
    --icon: url(fileIcons/font.svg);
    -webkit-mask-image: var(--icon);
    mask-image: var(--icon);
}

/* image */
.message .fileContainer[data-file-mime-type="image/bmp"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="image/gif"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="image/vnd.microsoft.icon"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="image/jpeg"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="image/png"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="image/svg+xml"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="image/tiff"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="image/webp"]:not(.hasThumbnail)::before {
    --icon: url(fileIcons/image.svg);
    -webkit-mask-image: var(--icon);
    mask-image: var(--icon);
}

/* pdf */
.message .fileContainer[data-file-mime-type="application/vnd.amazon.ebook"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/epub+zip"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/pdf"]:not(.hasThumbnail)::before {
    --icon: url(fileIcons/pdf.svg);
    -webkit-mask-image: var(--icon);
    mask-image: var(--icon);
}

/* presentation */
.message .fileContainer[data-file-mime-type="application/vnd.oasis.opendocument.presentation"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/vnd.ms-powerpoint"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/vnd.openxmlformats-officedocument.presentationml.presentation"]:not(.hasThumbnail)::before {
    --icon: url(fileIcons/presentation.svg);
    -webkit-mask-image: var(--icon);
    mask-image: var(--icon);
}

/* table */
.message .fileContainer[data-file-mime-type="text/csv"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/vnd.oasis.opendocument.spreadsheet"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/vnd.ms-excel"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/xml if not readable"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/vnd.mozilla.xul+xml"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="text/xml "]:not(.hasThumbnail)::before {
    --icon: url(fileIcons/table.svg);
    -webkit-mask-image: var(--icon);
    mask-image: var(--icon);
}

/* video */
.message .fileContainer[data-file-mime-type="video/x-msvideo"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="video/mpeg"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="video/ogg"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="video/mp2t"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="video/webm"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="video/3gpp"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="video/3gpp2"]:not(.hasThumbnail)::before {
    --icon: url(fileIcons/video.svg);
    -webkit-mask-image: var(--icon);
    mask-image: var(--icon);
}

/* archive */
.message .fileContainer[data-file-mime-type="application/x-freearc"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/octet-stream"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/x-bzip"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/x-bzip2"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/gzip"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/vnd.rar"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/x-tar"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/zip"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/x-zip-compressed"]:not(.hasThumbnail)::before,
.message .fileContainer[data-file-mime-type="application/x-7z-compressed"]:not(.hasThumbnail)::before {
    --icon: url(fileIcons/archive.svg);
    -webkit-mask-image: var(--icon);
    mask-image: var(--icon);
}

/*contacts*/
.contact {
    width: 100%;
    border-bottom: 1px solid;
    min-height: 60px;
    display: grid;
    align-items: center;
    cursor: pointer;
    padding: 15px;
    position: relative;
}

.contact .name {
    font-size: large;
    font-weight: bold;
    display: block;
    text-transform: lowercase;
}

.contact .preview {
    text-overflow: ellipsis;
    line-break: none;
    white-space: nowrap;
    overflow: hidden;
}

.contact .fingerprint {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(60px / 100 * 80);
    top: 10%;
    right: 5px;
    width: calc(60px / 100 * 80);
    background-color: hsla(var(--accent), 1);
    -webkit-mask-image: url(fingerprint.svg);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: right;
}

.selected.contact .fingerprint {
    background-color: hsla(var(--background));
}

.contact.newMessage {
    border-left: 5px solid;
}

.contact.selected {
    background: hsla(var(--accent));
    color: hsla(var(--background));
}

div#searchResults:not(:empty) {
    padding-right: var(--generalPadding);
    padding-bottom: 30px;
    padding-top: 30px;
}

div#searchResults:not(:empty)::before {
    content: "search results:";
    font-weight: bolder;
}

div#currentlySelectedContact .contact {
    background: hsla(var(--accent));
    color: hsla(var(--background));
}

div#searchResults:not(:empty) ~ div {
    display: none;
}

/*mobile*/
@media only screen and (max-width: 600px) {
    div#newMessageIndicator {
        height: 50px;
        width: 50px;
        border-radius: 50px;
    }

    .contactsVisible div#settingsButton {
        bottom: 10px;
        right: 10px;
        top: unset;
        left: unset;
    }

    body.cosmicVision main .container:not(.filling):not(#login):not(#signup) {
        box-shadow: 5px 5px 12px 0px hsla(var(--accent), 16%);
        border: 0;
        background: hsla(var(--background), 70%);
    }

    div.contactName {
        position: absolute;
        width: calc(100% - 2 * 10px);
        transform: translateY(-100%);
    }

    :root {
        --border-radius: 0;

    }

    #logoutButton {
        border: 0;
    }

    main {
        padding: 0;
    }

    body {
        padding: 0;
    }

    main > div.main {
        height: calc(var(--vh, 1vh) * 100) !important;
        --generalPadding: 10px;
        padding-bottom: 4em !important;
        padding-top: 5em !important;
    }

    input#logoutButton {
        z-index: 999;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        margin: 0;
    }
}

@media only screen and (max-width: 1000px) {
    .contactName:not(:empty):after {
        content: "click to change" !important;
        font-size: 0.5em !important;
        margin-left: 5px !important;
        font-weight: bolder !important;
    }



    div#contacts {
        height: 100%;
    }

    main > .main:not(.contactsVisible) div#contacts {
        max-height: 0;
        /* width: 0; */
        filter: opacity(0);
    }

    main > .main.contactsVisible div#messageContainer {
        max-height: 0;
        filter: opacity(0);
    }

    main > .main div#contacts,
    main > .main div#messageContainer {
        max-height: 100%;
        filter: opacity(1);
    }

    main > .main.contactsVisible div#messages {
        overflow-y: hidden;
    }

    main > .main > div {
        transition: max-height var(--transitionduration), filter var(--transitionduration);
        display: block;
        width: 100%;
        --desktopUsernavWidth: 100%;
    }
}

@media only screen and (min-width: 1000px) {

    /*contacts*/
    div#contacts {
        height: 100%;
        width: var(--desktopUsernavWidth);
        display: inline-block;
        float: left;
    }



    div#messageContainer::before,
    div#messageContainer:after {
        border-right: 1px solid;
        content: "";
        top: 0;
        bottom: 0;
        position: absolute;
    }

    div#messageContainer:after {
        right: 0;
    }

    div#messageContainer::before {
        left: 0;
    }


    div#messageContainer {
        display: inline-block;
        position: relative;
        width: calc(100% - var(--desktopUsernavWidth));
    }

    .contactName {
        padding-left: 10px !important;
    }

    input[name=contactSearch] {
        width: calc(var(--desktopUsernavWidth)) !important;

    }

}

@media only screen and (hover: none) and (pointer: coarse) {
    .message {
        user-select: none;
    }
}
