:root {
    --h: 168deg;
    --c1: var(--h) 25% 48%;
    --c2: calc(var(--h) + 1deg) 25% 29%;
    --c3: calc(var(--h) - 7deg) 15% 5%;
    --c4: calc(var(--h) - 9deg) 50% 100%;
    --c5: calc(var(--h) - 12deg) 2% 20%;
    --c6: calc(var(--h) - 9deg) 5% 25%;

    --errorText: #6f4949;
    --errorIcon: #d86868;
    --successText:#496f5d;
    --successIcon:#68d8a4;
}

:root.light {
    --c1: var(--h) 26% 50%;
    --c2: calc(var(--h) + 1deg) 0% 70%;
    --c3: calc(var(--h) - 7deg) 0% 27%;
    --c4: calc(var(--h) - 9deg) 0% 10%;
    --c5: calc(var(--h) - 9deg) 0% 95%;
    --c6: calc(var(--h) - 9deg) 0% 85%;
}