:root {
    --h: 168deg;
    --c1: var(--h) 25% 48%;
    --c2: calc(var(--h) + 1deg) 25% 29%;
    --c3: calc(var(--h) - 7deg) 15% 5%;
    --c4: calc(var(--h) - 9deg) 50% 100%;
    --c5: calc(var(--h) - 9deg) 10% 10%;
    --c6: calc(var(--h) - 9deg) 5% 25%;
}

:root.light {
    --c1: var(--h) 30% 70%;
    --c2: calc(var(--h) + 1deg) 20% 75%;
    --c3: calc(var(--h) - 7deg) 5% 45%;
    --c4: calc(var(--h) - 9deg) 20% 10%;
    --c5: calc(var(--h) - 9deg) 5% 95%;
    --c6: calc(var(--h) - 9deg) 0% 85%;
}