.formScreen {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    width: min(300px, 80vw);
}

.errorElement {
    color: #e45757;
}