@import url(chatList.css);
@import url(messageView.css);
@import url(sideMenu.css);


.mainScreen {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(25vw, 260px) 1fr;
    height: 100%;
}


@media (max-width: 630px) {
    .mainScreen {
        grid-template-columns: 1fr 0px;
        overflow: hidden;
    }

    .chatListContainer,
    .messageView {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .messageView {
        transform:translateX(100%);
        transition: transform var(--transitionDuration);
    }
    .messageView:not(.deselectedMessageView){
        transform:translate(0);
    }

}