body {
    margin: 0;
    background-color: hsl(var(--c5));
}

:root {
    --navHeight: 20px;
    --transitionDuration: .2s;
}

main {
    height: calc(100vh - var(--navHeight));
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    font-weight: normal;
}

* {
    font-family: openSans, sans-serif;
    color: hsl(var(--c4))
}