.messageView {
    display: grid;
    grid-template-rows: 52px 1fr 52px;
}

.messageView.deselectedMessageView::before {
    content: "Select a chat to start messaging";
    font-size: .8em;
    background: hsl(var(--c6));
    padding: 5px 10px;
    border-radius: 5px;
}

.messageView.deselectedMessageView {
    display: flex;
    align-items: center;
    justify-content: center;
}

.messageView:not(.deselectedMessageView) {
    background: hsl(var(--c6));
    position: relative;
    overflow: hidden;
}

.contactInformationBar,
.messageActionBar {
    background: hsl(var(--c5));
    display: grid;
    grid-template-rows: 1fr;
}


.contactInformationBar {
    grid-template-columns: 52px 1fr 52px 52px;
    top: 0;
}

.messageActionBar {
    grid-template-columns: 52px 1fr 52px 52px;
    bottom: 0;
}

.chatTitle {
    display: flex;
    align-items: center;
}

.messageActionBar textarea {
    resize: none;
    background: transparent;
    border: 0;
    color: hsla(var(--c4));
    display: flex;
    justify-content: center;
    font-family: 'openSans';
    font-size: 0.8em;
    padding-top: 1.2em;
    outline: none;
}